body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    text-align: center;
}
.drawers-image{
    height: 260px; 
    background-image: url(./images/drawers.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#article {
    background-color: #ffffff;
    width: 20rem;
    margin: auto;
    margin-top: 3rem;

}
.header {
    margin-top: -3rem; 
    color: hsl(217, 19%, 35%);
    background-color: #ffffff;
    
}
#author {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}
#author h2, p {
    text-align: left;
}
#author h2 {
    color:hsl(217, 19%, 35%);
    font-weight: 700;
}
#author p {
    color:hsl(214, 17%, 51%); 
    font-weight: 500;
    margin-top: -0.75em;
}
.share {
    visibility: hidden;
}
#icons {
    visibility: hidden;
}

.icon-share {
    background-color: hsl(210, 46%, 95%);
    height: 1rem;
    padding: 7px;
    border-radius: 50%;
}

.author-image {
    border-radius: 50%;
    height: 3rem;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media only screen and (max-width: 400px) {
    #card {
        display: flex;
        flex-direction: column;

    }
    
    #author {
        display: flex;
        flex-direction: row;
    }
    .name {
        font-size: 13px;
        text-align: left;
    }
    .date {
        font-size: 13px; 
        text-align: left;
    }

}